<section>
    <div class="author-container">
        <div class="author-box">
            <div class="author-image">
                <img src="" alt="author-image">
            </div>
            <div class="author-info">
                <h1></h1>
                <p>Design & Web Developer</p>
            </div>
            <div class="author-hiring">
                <button>Hire Me</button>
                <button>Download Resume</button>
            </div>
            <div class="author-description">
                <p>Specializing in strategy, improving design maturity & design systems.</p>
            </div>
            <div class="author-social-links">
                <a href="#" class="social-links">

                </a>
                <a href="#" class="social-links">

                </a>
                <a href="#" class="social-links">
                    
                </a>
                <a href="#" class="social-links">

                </a>
            </div>
        </div>
    </div>
</section>