<section>
    <div class="author-container">
        <div class="author-box">
            <div class="author-image">
                <img src="assets/author3.png" alt="author-image">
            </div>
            <div class="author-info">
                <h3>Enzo <span>Costa</span></h3>
                <p>Design & Web Developer</p>
            </div>
            <div class="centralize">
                <a routerLink="/contact" primary>CONTRATE-ME</a>
                <a class="hover-transition-button" primary-outline>Download Currículo</a>
            </div>
            <div class="author-description">
                <p>Especialista em Front-End,<br> Implementação de Design Minimalista & <br> Design de sistemas.</p>
            </div>
            <div class="author-social-links centralize">
                <a href="https://www.linkedin.com/in/enzo-costa-584a8a231/" class="social-links" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="https://www.instagram.com/enzoohc/" class="social-links" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://twitter.com/enzohscc" class="social-links" target="_blank">
                    <i class="fa-brands fa-square-x-twitter"></i>
                </a>
            </div>
        </div>
    </div>
</section>
