<div class="author-container">
    <div class="author-box">
        <div class="author-image">
            <img src="assets/author3.png" alt="author-image">
        </div>
        <div class="author-info">
            <h3>Enzo <span>Costa</span></h3>
            <p>Design & Web Developer</p>
        </div>
        <div class="centralize">
            <button primary>Hire Me</button>
            <button class="hover-transition-button" primary-outline>Download Resume</button>
        </div>
        <div class="author-description">
            <p>Specializing in strategy,<br> improving Design maturity & <br> Design systems.</p>
        </div>
        <div class="author-social-links centralize">
            <a href="#" class="social-links">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="#" class="social-links">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="#" class="social-links">
                <i class="fa-brands fa-square-x-twitter"></i>
            </a>
        </div>
    </div>
</div>
