* {
    background-color: var(--background-box);
    border-radius: 10px;
}

.author-image {

  img {
    width: 300px;
    border-radius: 10px;
  }
}


.author-container {
    padding: 50px 50px 80px 50px;
    text-align: center;
}


.author-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.author-info {


    h3 {
        font-size: 30px;
        font-weight: 700;
        color: var(--branco);
    }

    span {
      color: var(--verde-escuro);
    }

    p {
        font-weight: 500;
        color: var(--verde-escuro);
    }
}

.author-description {



    p {
        color: var(--verde-escuro);
    }
}

.author-social-links {


    i {
        color: var(--verde);
        font-size: 25px;
    }
}


