* {
  background-color: var(--background-box);
}

header {
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav ul li a {
  color: var(--branco);
  text-decoration: none;
}