<header>
    <nav>
        <ul>
            <li><a class="hover-transition" href="#home" routerLink="/inicio">Inicio</a></li>
            <li><a class="hover-transition" href="#hire" routerLink="/about">Sobre Mim</a></li>
            <li><a class="hover-transition" href="#hire" routerLink="/portfolio">Portfolio</a></li>
            <li><a class="hover-transition" href="#hire" routerLink="/education">Educação</a></li>
            <li><a class="hover-transition" href="#hire" routerLink="/contact">Contato</a></li>
        </ul>
    </nav>
</header>