<header>
    <nav>
        <ul>
            <li><a class="hover-transition" href="#home" routerLink="/inicio">Home</a></li>
            <li><a class="hover-transition" href="#hire" routerLink="/about">About Me</a></li>
            <li><a class="hover-transition" href="#hire" routerLink="/portfolio">Portfolio</a></li>
            <li><a class="hover-transition" href="#hire" routerLink="/education">Education</a></li>
            <li><a class="hover-transition" href="#hire" routerLink="/contact">Contact</a></li>
        </ul>
    </nav>
</header>