<section class="section">
    <app-top-right-bg></app-top-right-bg>

    <div class="icon">
        <p>
            <i class="fa-solid fa-user-graduate"></i>
            Educação e Skills
        </p>
    </div>

    <div class="box-text">
        <h1>
            <span>Enzo Costa</span><br>Educação & Skills.
        </h1>
    </div>

    <div class="education">
        <div class="single-education">
            <h3>Educação</h3>
            <div class="education-content">
                <div class="row-education">
                    <div class="left-side">
                        <div class="container">
                            <hr class="vertical-line">
                        </div>
                        <div class="info-left-side">
                            <h6>Cotemig - Colégio E Faculdade</h6>
                            <p>Fev 2021 - <br> 2023 Dec</p>
                        </div>
                    </div>
                    <div class="right-side">
                        <div class="info-right-side">
                            <h6>Aprendizado</h6>
                            <p>Curso Tecnico de programação, aprendizado em HTML,CSS,JAVASCRIPT,SQL,C#,PHP e FRAMEWORKS</p>
                        </div>
                    </div>
                </div>
                <div class="row-education">
                    <div class="left-side">
                        <div class="container-side-line">
                            <hr class="vertical-line">
                        </div>
                        <div class="info-left-side">
                            <h6>CNA Idiomas</h6>
                            <p>Fev 2021 -<br>2023 Dec</p>
                         </div>
                    </div>
                    <div class="right-side">
                        <div class="info-right-side">
                            <h6>Aprendizado</h6>
                            <p>Inglês e cultura inglesa.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-education">
            <h3>Profissional</h3>
            <div class="education-content">
                <div class="row-education">
                    <div class="left-side">
                        <div class="container">
                            <hr class="vertical-line">
                        </div>
                        <div class="info-left-side">
                            <h6>CNI Centro de Formação Profissional</h6>
                            <p>Aug 2023 - <br> 2023 Nov</p>
                        </div>
                    </div>
                    <div class="right-side">
                        <div class="info-right-side">
                            <h6>Experiência</h6>
                            <p>Atuei como monitor técnico em um curso de tecnologia para auxílio dos alunos em PACOTE OFFICE, SQL, PHP, JAVA, JAVASCRIPT, HTML, CSS</p>
                        </div>
                    </div>
                </div>
                <div class="row-education">
                    <div class="left-side">
                        <div class="container-side-line-two">
                            <hr class="vertical-line">
                        </div>
                        <div class="info-left-side">
                            <h6>Brunsker Tecnologia</h6>
                            <p>Jan 2024</p>
                        </div>
                    </div>
                    <div class="right-side">
                        <div class="info-right-side">
                            <h6>Experiência</h6>
                            <p>Na Brunsker Tecnologia, como desenvolvedor front-end e de sustentação, crio interfaces atrativas e funcionais, além de desenvolver novas funcionalidades. Utilizo HTML, CSS, JavaScript e SQL para garantir uma experiência fluida e eficiente. Meu trabalho inclui monitoramento ativo, resolução de problemas e escrita de testes para garantir a estabilidade do código, sempre buscando otimizar nossas aplicações e garantir o sucesso dos projetos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="single-info-item">
        <div class="row">
            <h3>Skills</h3>
            <div class="skills-container">
                <div class="single-skill-item">
                    <div class="expertise-single">
                        <p>
                            Design - 
                            <span>90%</span>
                        </p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">

                            </div>
                        </div>
                    </div>
                    <div class="expertise-single">
                        <p>
                            art direction - 
                            <span>89%</span>
                        </p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">

                            </div>
                        </div>
                    </div>
                    <div class="expertise-single">
                        <p>
                            branding - 
                            <span>60%</span>
                        </p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-skill-item">
                    <div class="expertise-single">
                        <p>
                            Website Design -
                            <span>40%</span> 
                        </p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">

                            </div>
                        </div>
                    </div>
                    <div class="expertise-single">
                        <p>
                            UX/UI design - 
                            <span>70%</span>
                        </p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">

                            </div>
                        </div>
                    </div>
                    <div class="expertise-single">
                        <p>
                            Web Development -
                            <span>95%</span>
                        </p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>