* {
    background-color: var(--background-box);
}

.row-education {
    display: flex;
    gap: 150px;

    h6 {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 10px;
        color: var(--branco);
    }
}

.single-education {
    margin-top: 30px;

    h3 {
        color: var(--cinza);
    }
}

.info-left-side {
    margin-left: 20px;

    h6 {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 10px;
        color: var(--branco);
    }

    p {
        color: var(--cinza);
    }
}

.container {
    height: 200px;
    position: relative;
}

.container-side-line {
    height: 100px;
    position: relative;
}

.container-side-line-two {
    height: 80px;
    position: relative;
}

.vertical-line {
    border-left: 1px solid var(--cinza);
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.left-side,.right-side {
    display: flex;
    justify-content: flex-start;
}

.container::before {
    content: "";
    position: absolute;
    left: -5px;
    top: 20px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: var(--verde);
    z-index: 1;
}

.container::after {
    content: "";
    position: absolute;
    right: -5px;
    top: 220px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: var(--verde);
    z-index: 1;
}

.right-side {
    max-width: 510px;

    h6 {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 15px;
        color: var(--cinza);
    }
}

.single-info-item {
    
    .skills-container{
        display: flex;
        gap: 30px  
    }
    
    
    .single-skill-item {
        width: 50%;
    }
    
    .expertise-single {
        font-weight: 700;
        font-family: var(--branco);
        color: var(--branco);
        text-transform: capitalize;
    }
    
    .expertise-single:not(:last-child) {
        margin-bottom: 25px;
    }
    
    .progress {
        position: relative;
        border-radius: 0;
    }
    
    .progress::before {
        position: absolute;
        content: "";
        height: 20px;
        width: 100%;
        background: var(--background);
    }
    
    .progress-bar {
        height: 5px;
        border-radius: 0;
        background: var(--verde);
        z-index: 9;
        position: relative;
        width: 0;
        transition: width 1s ease-in-out;
    }


    h3 {
        font-size: 32px;
        margin-top: 30px;
        font-weight: 400;
        color: var(--cinza);
        margin-bottom: 40px;
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .icon p,
    .box-text h1 {
        font-size: 24px;
    }
}

/* Media queries para celulares */
@media screen and (max-width: 480px) {
    .icon p,
    .box-text h1 {
        font-size: 20px;
    }
}