<section class="section">
    <app-top-right-bg></app-top-right-bg>

    <div class="icon">
        <p>
            <i class="fa-solid fa-user-graduate"></i>
            Educação e Skills
        </p>
    </div>

    <div class="box-text">
        <h1>
            <span>Enzo Costa</span><br>Educação & Skills.
        </h1>

        
    </div>

    <div class="education">
        <div class="single-education">
            <h3>Educação</h3>
            <div class="education-content">
                <div class="row-education">
                    <div class="left-side">
                        <div class="container">
                            <hr class="vertical-line">
                        </div>
                        <div class="info-left-side">
                           <h6>Cotemig - Colégio E Faculdade</h6>
                            <p>Fev 2021</p>
                        </div>
                    </div>
                    <div class="right-side">
                        <div class="container">
                            <hr class="vertical-line">
                        </div>
                    </div>
                </div>
                <div class="row-education">
                    <div class="left-side">

                    </div>
                    <div class="right-side">

                    </div>
                </div>
            </div>
        </div>
        <div class="single-education" style="margin-top: 30px;">
            <h3>Profissional</h3>
            <div class="education-content">
                <div class="row-education">
                    <div class="left-side">

                    </div>
                    <div class="right-side">

                    </div>
                </div>
                <div class="row-education">
                    <div class="left-side">

                    </div>
                    <div class="right-side">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

