
<div class="container-items">
    <ul>
        <li>
            <i class="fa-solid fa-house"></i>
        </li>
        <li>
            <i class="fa-solid fa-address-card"></i>
        </li>
        <li>
            <i class="fa-solid fa-briefcase"></i>
        </li>
        <li>
            <i class="fa-solid fa-user-tie"></i>
        </li>
        <li>
            <i class="fa-solid fa-user-graduate"></i>
        </li>
        <li>
            <i class="fa-solid fa-mobile-screen-button"></i>
        </li>
    </ul>
</div>

