<section>
   <div class="container-items">
        <ul>
            <li class="hover-transition">
                <i class="fa-solid fa-house" routerLink="/inicio"></i>
            </li>
            <li class="hover-transition">
                <i class="fa-solid fa-address-card" routerLink="/about"></i>
            </li>
            <li class="hover-transition">
                <i class="fa-solid fa-user-tie" routerLink="/portfolio"></i>
            </li>
            <li class="hover-transition">
                <i class="fa-solid fa-user-graduate" routerLink="/education"></i>
            </li>
            <li class="hover-transition">
                <i class="fa-solid fa-mobile-screen-button" routerLink="/contact"></i>
            </li>
        </ul>
    </div> 
</section>


