<section class="section">
  <app-top-right-bg></app-top-right-bg>
  
  <div class="icon">
    <p>
      <i class="fa-solid fa-house" routerLink="/inicio"></i>
      Hi! There i'm
    </p>
  </div>

  <div class="box-text">
    <h1>
      I'm making product <br> and <span>design</span> minimal <br> modern.
    </h1>
  </div>

  <div class="contact-zone">
    <a href="">
      <i class="fa-solid fa-envelope"></i>
      enzohscc&gmail.com
    </a>
    <a href="">
      <i class="fa-solid fa-phone"></i>
      (31) 98597-5482
    </a>
  </div>

  <div class="box-img">
    <img src="/assets/code-dark.png" alt="">
  </div>
</section>
