* {
  background-color: var(--background-box);
}

.contact-zone,a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--cinza);

  i {
    color: var(--verde-escuro);
  }

}

.box-img {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  img {
    width: 550px;
  }
}