* {
    background-color: var(--background-box);
}

.about-brief {
  margin-top: 30px;
  display: flex;
  gap: 30px;
  align-items: center;


  p {
    color: var(--cinza);
  }

  span, i {
    color: var(--verde);
  }

  i {
    font-size: 40px;
  }
}

.about-info {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  max-width: 500px;

  h6 {
    color: var(--branco);
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  p {
    color: var(--cinza);
  }
}

.container {
    height: 200px;
    position: relative;
}

.vertical-line {
    border-left: 1px solid var(--verde);
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.horizontal-line {
    width: 100%; 
    margin-bottom: 10px;
    border-top: 1px solid var(--verde);
}

@media screen and (max-width: 768px) {
  .about-brief {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .about-info {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .container {
      display: none;
  }
}

/* Media queries para celulares */
@media screen and (max-width: 480px) {
  .about-brief {
      gap: 10px;
  }

  .about-info {
      gap: 10px;
  }

  .about-info-box {
      padding: 8px;
  }
}