<section class="section">
    <app-top-right-bg></app-top-right-bg>
    <div class="icon">
        <p>
            <i class="fa-solid fa-address-card"></i>
            Sobre Mim !
        </p>
    </div>
    <div class="box-text">
        <h1>
            Olá meu nome é <span>Enzo Costa</span> sou desenvolvedor Front-end.
        </h1>
    </div>
    <div class="about-brief">
        <div class="about-left">
            <p>Olá! Meu nome é Enzo, um entusiasta da tecnologia de 18 anos, recém-formado no curso técnico de informática. Atualmente, sou estagiário na Brunsker Tecnologia e estou embarcando em uma jornada profissional no desenvolvimento de software Front-End.</p>
        </div>

        <div class="container">
            <hr class="vertical-line">
        </div>

        <div class="about-right">
            <p>Possuo grande interesse em design UX/UI. A ideia de criar interfaces intuitivas e cativantes que proporcionem uma experiência memorável aos usuários me fascina profundamente. Estou constantemente buscando expandir meus conhecimentos nessa área e aplicá-los em meus projetos de desenvolvimento.</p>
            <hr class="horizontal-line">
            <p class="margin">Durante minha carreira, tive a oportunidade de participar de projetos desafiadores, como e-commerces, portais de venda, aplicações para gestão de usuários e delivery de comida. Nestes projetos, apliquei meus conhecimentos de design e, principalmente, desenvolvi códigos front-end para tornar as aplicações mais responsivas, visualmente agradáveis e com qualidade de código.</p>
        </div>
    </div>
    <div class="about-info">
        <div class="about-info-box">
            <div class="about-info-row">
                <h6>NOME</h6>
                <p>Enzo Costa</p>
            </div>
            <div class="about-info-row">
                <h6>TELEFONE</h6>
                <p>(31) 98597-5482</p>
            </div>
        </div>
        <div class="about-info-box">
            <div class="about-info-row">
                <h6>Stack</h6>
                <p>Front-End</p>
            </div>
            <div class="about-info-row">
                <h6>Experiência</h6>
                <p>1 Ano</p>
            </div>
        </div>
    </div>
</section>

