* {
    background-color: var(--background-box);
}

footer {
    display: flex;
    padding: 25px;
    color: var(--branco);
    border-radius: 10px;

    span {
        color: var(--verde);
    }
}

footer p {
    margin: 0;
}
