<section class="section">
  <app-top-right-bg></app-top-right-bg>
  
  <div class="icon">
    <p>
      <i class="fa-solid fa-house" routerLink="/inicio"></i>
      Olá, Bem vindo ao meu Portfolio.
    </p>
  </div>

  <div class="box-text">
    <h1>
      Sou um desenvolvedor <br><span>Front-end Júnior</span> especializado em criar produtos com <span>design</span>, minimalista <br> e moderno.
    </h1>
  </div>

  <div class="contact-zone">
    <a href="https://mail.google.com/">
      <i class="fa-solid fa-envelope"></i>
      enzohscc&#64;gmail.com
    </a>
    <a href="https://api.whatsapp.com/send?phone=5531985975482&text=Ol%C3%A1%20Enzo%20,%20Tudo%20bem?">
      <i class="fa-solid fa-phone"></i>
      (31) 98597-5482
    </a>
  </div>

  <div class="box-img">
    <img src="/assets/code-dark.png" alt="">
  </div>
</section>
