<section class="section">
    <app-top-right-bg></app-top-right-bg>

    <div class="icon">
        <p>
            <i class="fa-solid fa-mobile-screen-button"></i>
            Contato
        </p>
    </div>

    <div class="box-text">
        <h1>
            <span>Enzo Costa</span>
        </h1>
    </div>

    <div class="container">
        <hr class="vertical-line">
    </div>

    <div class="container-contact">
        <div class="box-container">
            <h3 class="section-title">
                Contato
            </h3>

            <div class="contact-method">
                <div class="single-contact-item">
                    <div class="contact-item-top">
                        <div class="items">
                            <div class="item-top">
                                <img src="/assets/phone-call.svg" alt="phone-call-image">
                            </div>
                            <div class="item-bottom">
                                <p>Telefone de Contato.</p>
                            </div>
                        </div>
                    </div>
                    <div class="contact-item-bottom">
                        <a>
                            55+ 31 98597-5482
                        </a>
                    </div>
                </div>
                <div class="single-contact-item">
                    <div class="contact-item-top">
                        <div class="items">
                            <div class="item-top">
                                <img src="/assets/mail-open.svg" alt="">
                            </div>
                            <div class="item-bottom">
                                <p>Email de contato</p>
                            </div>
                        </div>
                    </div>
                    <div class="contact-item-bottom">
                        <a>
                            enzohscc&#64;gmail.com
                        </a>
                    </div>
                </div>
                <div class="single-contact-item">
                    <div class="contact-item-top">
                        <div class="items">
                            <div class="item-top">
                                <img src="/assets/location-dot.svg" alt="">
                            </div>
                            <div class="item-bottom">
                                <p>Local de Moradia</p>
                            </div>
                        </div>
                    </div>
                    <div class="contact-item-bottom">
                        <a>
                            Belo Horizonte, Paquetá
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
