/* You can add global styles to this file, and also import other style files */
@import 'font';
@import 'variables';
@import 'buttons';
@import 'transitions';
@import 'div';

html, body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background-color: var(--background);
}

html {
  overflow-x: hidden;
}