<section class="section">
    <app-top-right-bg></app-top-right-bg>
    <div class="icon">
        <p>
            <i class="fa-solid fa-address-card"></i>
            Me! About
        </p>
    </div>  
    <div class="box-text">
        <h1>
            Hire the best Portfolio Freelancers in <span>Jeckob Martin</span> in Los Angeles.
        </h1>
    </div>
    <div class="about-brief">
        <div class="about-left">
            <p></p>
            <div class="rating">

            </div>
        </div>
        <div class="about-right">
            <p></p>
            <p class="margin"></p>
        </div>
    </div>
    <div class="about-info">
        <div class="about-info-box">
            <div class="about-info-row">
                <h6></h6>
                <p></p>
            </div>
            <div class="about-info-row">
                <h6></h6>
                <p></p>
            </div>
        </div>
        <div class="about-info-box">
            <div class="about-info-row">
                <h6></h6>
                <p></p>
            </div>
            <div class="about-info-row">
                <h6></h6>
                <p></p>
            </div>
        </div>
    </div>
</section>

