<section class="section">
    <app-top-right-bg></app-top-right-bg>
    <div class="icon">
        <p>
            <i class="fa-solid fa-address-card"></i>
            Me! About
        </p>
    </div>
    <div class="box-text">
        <h1>
            Hire the best Portfolio Freelancers in <span>Jeckob Martin</span> in Los Angeles.
        </h1>
    </div>
    <div class="about-brief">
        <div class="about-left">
            <p>There are many variations of passages of Lorem Ipsum available, but majority have suffered alteration in some form, by injected humour.</p>
            <div class="rating">
                <div class="star-icon">
                  <i class="fa-solid fa-star"></i>
                </div>
                <div class="raiting-count">
                  <h4>5 Star</h4>
                  <p>Read Our <span>Success Story's</span></p>
                </div>
            </div>
        </div>
        <div class="about-right">
            <p>Randomised words which don't look even slightly belie vable. If you are going to use a passage of Lorem Ipsu you need to be sure there isn't anything embarr assing hidden in the middle of text All the Lorem Ipsum</p>
            <p class="margin">Generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. Lorem Ipsu you need to be sure there isn't anything embarr.</p>
        </div>
    </div>
    <div class="about-info">
        <div class="about-info-box">
            <div class="about-info-row">
                <h6>NAME</h6>
                <p>Donald L. Juarez</p>
            </div>
            <div class="about-info-row">
                <h6>PHONE</h6>
                <p>+99 (555) 666 88 55</p>
            </div>
        </div>
        <div class="about-info-box">
            <div class="about-info-row">
                <h6>OFFICE</h6>
                <p>1247/Plot No. 39, New York.</p>
            </div>
            <div class="about-info-row">
                <h6>EXPERIENCE</h6>
                <p>12 Years</p>
            </div>
        </div>
    </div>
</section>

